/mailhelp/*.msg
/mailhelp/env/
/sqlhelp/env/
/sqlhelp/env/*
/sqlitehelp/env/*
/zaphelp/env/*
/scapyhelp/env/*
CSS-helper.code-workspace
sqlhelp
webhelp
*.db
*.sql
*.eml
*.msg
*.html
*.xml
*.diff
*.txt
*.pcap
*.mem
